@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 28, 25, 23;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 250, 250, 249;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 250, 250, 249;
    --background-start-rgb: 28, 25, 23;
    --background-end-rgb: 12, 10, 9;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}